[Unit]
Description=wearable biosonification processing sketch
After=network.target

[Service]
User=pi
ExecStart=
Restart=always

[Install]
WantedBy=graphical.target