[Unit]
Description=wearable biosonification processing sketch
After=graphical.target

[Service]
User=
Environment=""
Environment="DISPLAY=:0"
ExecStart=
Restart=always

[Install]
WantedBy=graphical.target